
@import 'bootstrap';

@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url('https://fonts.googleapis.com/css?family=Tulpen+One');

@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Quicksand');
@import url('https://fonts.googleapis.com/css?family=Tulpen+One');
/*basic reset*/
* {margin: 0; padding: 0; }

html {
	height: 100%;
	background-color: 	#C0C0C0;
}

.hero-logo-main {
  font-family: 'Tulpen One', cursive;
  font-size: 6em;
  color: black;
  text-align: center;
  padding-bottom: 15px;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.myVideo {

  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  filter:opacity(60%);
/*  transform: translateX(10%) translateY(40%); */
}

body {
	font-family: montserrat, arial, verdana;


}
/*form styles*/
#msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}

.choiceButton {
	display: inline-block;
  width:8em;
  background-color: white;
  color: black;
  padding: 0.5em;
  cursor: pointer;
	border: 1px solid hotpink;
	margin-bottom: 1em;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;

	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: hotpink;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px hotpink;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}

.space{
  margin-right: 10px;
}

/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 50%;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps hotpink*/
/*The number of the step and the connector before it = hotpink*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: hotpink;
	color: white;
}

.m-input {
	width: 100px;

}

.clothing-item .selection {
  margin-bottom: 1em;
}

.clothing-item .selection label {
  display: inline-block;
  width:8em;
  background-color: white;
  color: black;
  padding: 0.5em;
  cursor: pointer;
	border: 1px solid hotpink;
}

.clothing-item .selection label:hover {
  box-shadow: 0 0 0 2px white, 0 0 0 3px hotpink;
}

.clothing-item .selection input[type=radio] {
  display: none;
}

.clothing-item .selection input[type=radio]:checked ~ label {
  background-color: hotpink;
	color: white;
}


#msform .action-button:hover, .previous:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px hotpink;
}


.previous {
	width: 100px;
	background: hotpink;

	color: white;
	border: 0 none;
	border-radius: 1px;

	padding: 10px 10px;
	margin: 10px 5px;
}






.card-container {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.card {
  display: grid;
}

.card .button {
  align-self: end;
}

.card__thumbnail {
  padding: 0px 0px;
  margin: 0px 0px;
  object-fit: fill;
  overflow: hidden;
  height: 325px;
}

.clothing_image {
  height: 100%;
  width: 100%;
}

/* Simple Card styles for prettying */
body, html {
/*  font-size: 13px; */
/*  font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif; */
  padding: 0px 0px;
  margin: 0px 0px;

}

body {

  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.card {
  box-shadow: 0px 1px 5px #555;
  background-color: white;
}

.card__title {
  font-size: 2rem;
  padding: .5rem;
}

.card__description {
  padding: .25rem;
  line-height: 1em;
  text-align: center;
  font-size: 13px;
}

.button {
  display: block;
  background-color: #E0E0E0;
  padding: 10px 20px;
 color: black;
  text-decoration: none;
  text-align: center;
  transition: .3s ease-out;
}
.button:hover {
  background-color: hotpink;
}

img {
  max-width: 100%;
}

a {
  color: hotpink;
}

.hero-logo {
  font-family: 'Tulpen One', cursive;
  font-size: 6em;
  color: black;
  text-align: center;
  padding-bottom: 15px;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.filter {
  text-align: center;
  font-size: 13px;
}

#filter-items li {
  display: inline;
  list-style-type: none;
}

.sidebar {
  float: left;
  width: 150px;
  height: auto;
  background-color: white;
  padding: 5px 5px;
  border-right: 2px solid hotpink;
}

.rating {
  height: 20px;
}

.brand-logo {
  max-height: 15px;
}

.user-section {
  height: 10px;
  text-align: right;
}

.modal-open {
  overflow: hidden;
}

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-header:before, .modal-header:after {
  content: " ";
  display: table;
}

.modal-header:after {
  clear: both;
}

.modal-header .close {
  margin-top: -2px;
}

.modal-title {
  margin: 0;
  line-height: 1.57143;
}

.modal-body {
  position: relative;
  padding: 15px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.modal-footer:before, .modal-footer:after {
  content: " ";
  display: table;
}

.modal-footer:after {
  clear: both;
}

.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}

.modal-footer .element-groups-custom .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
