<%= form_with(model: dress, local: true) do |form| %>
  <% if dress.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dress.errors.count, "error") %> prohibited this dress from being saved:</h2>

      <ul>
      <% dress.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
